/* rongcece app.css  */

*{padding:0;margin:0;list-style:none;font-family:"Microsoft Yahei";text-decoration: none;border:0;border:none;}
html , body{
	max-width:490px;
	height:100%;
	position:relative;
	margin:0 auto;
}
/* rewrite appframework */
.loading_num{color:#fff;}
#mainview .page-group {background: none;}
.page{background:url('../../../../file/tf/tenNegative/img/bg.jpg');background-size:100% 100%;text-align:center;background-position: center;}
#splashscreen{position: absolute;top: 0;bottom: 0;width: 100%;left: 0;height:100%;min-height:auto;color: white !important;font-size: 30px;text-align: center;z-index: 9999;display: block;background:#456ae6;margin:0 !important;padding:0 !important;}
.view header{background:none;border:none;z-index:9999;}
.ui-loader {
  display: none;
  margin: 10px;
  position: absolute;
  opacity: .85;
  z-index: 100;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -35px;
  padding: 10px 30px;
  background: #666;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
.ui-loader.heavy {
  opacity: 1;
}
/* rewrite appframework */
/* app animate css */
@-webkit-keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
            transform: scale(0.4); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
            transform: scale(1);}}

@keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
            transform: scale(0.4); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
            transform: scale(1); } }

.ball-spin-fade-loader {position:absolute;top:40%;left:50%;margin-left:-9px;}
.ball-spin-fade-loader > div:nth-child(1) {
  top: 25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;
  -moz-animation: ball-spin-fade-loader 1s 0s infinite linear;
          animation: ball-spin-fade-loader 1s 0s infinite linear; }
.ball-spin-fade-loader > div:nth-child(2) {
  top: 17.04545px;
  left: 17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.12s infinite linear;
  -moz-animation: ball-spin-fade-loader 1s 0.12s infinite linear;
          animation: ball-spin-fade-loader 1s 0.12s infinite linear; }
.ball-spin-fade-loader > div:nth-child(3) {
  top: 0;
  left: 25px;
  -webkit-animation: ball-spin-fade-loader 1s 0.24s infinite linear;
  -moz-animation: ball-spin-fade-loader 1s 0.24s infinite linear;
          animation: ball-spin-fade-loader 1s 0.24s infinite linear; }
.ball-spin-fade-loader > div:nth-child(4) {
  top: -17.04545px;
  left: 17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.36s infinite linear;
  -moz-animation: ball-spin-fade-loader 1s 0.36s infinite linear;
          animation: ball-spin-fade-loader 1s 0.36s infinite linear; }
.ball-spin-fade-loader > div:nth-child(5) {
  top: -25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s 0.48s infinite linear;
  -moz-animation: ball-spin-fade-loader 1s 0.48s infinite linear;
          animation: ball-spin-fade-loader 1s 0.48s infinite linear; }
.ball-spin-fade-loader > div:nth-child(6) {
  top: -17.04545px;
  left: -17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.6s infinite linear;
  -moz-animation: ball-spin-fade-loader 1s 0.6s infinite linear;
          animation: ball-spin-fade-loader 1s 0.6s infinite linear; }
.ball-spin-fade-loader > div:nth-child(7) {
  top: 0;
  left: -25px;
  -webkit-animation: ball-spin-fade-loader 1s 0.72s infinite linear;
  -moz-animation: ball-spin-fade-loader 1s 0.72s infinite linear;
          animation: ball-spin-fade-loader 1s 0.72s infinite linear; }
.ball-spin-fade-loader > div:nth-child(8) {
  top: 17.04545px;
  left: -17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.84s infinite linear;
  -moz-animation: ball-spin-fade-loader 1s 0.84s infinite linear;
          animation: ball-spin-fade-loader 1s 0.84s infinite linear; }
.ball-spin-fade-loader > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  position: absolute; 
  }
.animated.bounceIn{-webkit-animation-duration:1.5s;-moz-animation-duration:1.5s;animation-duration:1.5s;}
header{height:44px;}
.delay01{
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.delay02{
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
.delay03{
	-webkit-animation-delay: 1.1s;
	-moz-animation-delay: 1.1s;
	animation-delay: 1.1s;
}
.delay04{
	-webkit-animation-delay: 1.4s;
	-moz-animation-delay: 1.4s;
	animation-delay: 1.4s;
}
.delay05{
	-webkit-animation-delay: 1.7s;
	-moz-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
.delay06{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}
.delay07{
	-webkit-animation-delay: 2.3s;
	-moz-animation-delay: 2.3s;
	animation-delay: 2.3s;
}
@-webkit-keyframes bounceIn{
	100%,20%,40%,60%,80%,from{
		-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);
		animation-timing-function:cubic-bezier(.215,.61,.355,1)}
		0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
		20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}
		40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}
		60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}
		80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}
		100%{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
@keyframes bounceIn{
	100%,20%,40%,60%,80%,from{
		-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);
		animation-timing-function:cubic-bezier(.215,.61,.355,1)}
		0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
		20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}
		40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}
		60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}
		80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}
		100%{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
.bounceIn{
	-webkit-animation-name:bounceIn;
	animation-name:bounceIn;
}
.panel{
	padding:0px;
}
.qa_title{
	height:21%;
	background:url('../../../../file/tf/tenNegative/img/qa_title.png');
	background-size:cover;
	text-align:center;
	padding-top:8%;
	font-size:18px;
	color:#ffffff;
	margin:0 auto;
	margin-top: 30px;
}
.qa_li{
	width:250px;
	height:50px;
	background: url(../../../../file/tf/tenNegative/img/fin_sprite.png) no-repeat 0 -369px;
	background-size: 136px auto;
	font-size:16px;
	color:#3cbcfb;
	margin: 0 auto;
	margin-top:10px;
	-webkit-animation-play-state: paused;
	display: list-item;
	text-align:left;
	padding-left:46px;
}
.qa_li .tag{padding:0 0 0 19px;}
.qa_li .text{padding:0 0 0 65px;}
.qa_ul{width:300px;margin:0 auto;}
.loading_num{font-size:12px;position:absolute;top:40%;width:100%;text-align:center;}
.qa_li:active{
	background:url('../../../../file/tf/tenNegative/img/qa_bg_selected.png') 0px 0px no-repeat;
	background-size:28px 28px;
	color:#e75fa2;
}
.qa_li:hover{
	background: url(../../../../file/tf/tenNegative/img/fin_sprite.png) no-repeat 0 -468px;
	background-size: 136px auto;
	color:#e75fa2;
}

/* reg page start*/
.h5_input_border{
	height:40px;
	width:96%;
	margin:0 auto;
	margin-top:15px;
	clear:both;
	position:relative;
	background:#5972e8;
	color:#fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;}
.h5_input_border select , .h5_input_border textarea{
	width:100%;
	font-size:14px;
	background:none;
	border:none;
	outline:none;
	padding: 0 0 0 30px;
	color:#fff;
	height:40px; 
	margin-bottom:0;
	position: relative;
	z-index: 9999;
	appearance: none;
	-webkit-appearance:none;
	-moz-appearance:none;
}
.h5_input_border.li_textarea{height:100px;}
.h5_input_border textarea{padding-top:15px;padding-bottom:15px;resize:none;height:100px;}
.h5_input_border input{width:100%;outline:none;padding:0 0 0 30px;height:40px;line-height:40px;border:0;border:none;display:block;float:left;background:none;font-size:14px;color:#fff;margin-bottom:0;}
.h5_input_border input.short{width:150px;}
.checkInput{position:relative;top:4px;background:url("../../../file/promotion/mo/images/checkInput.png");width:20px;height:20px;display:inline-block;cursor:pointer;}
.checkInput.selected{background:url("../../../file/promotion/mo/images/checkInput_selected.png");}
.checkInput_label{color:#ffffff;font-size:14px;cursor:pointer;padding: 0;width: auto;float: none;font-weight: normal;text-align: left;}
.login_btn{width:90%;background:#f74a3d;color:#ffffff;border:1px solid #d2d2d2;height:40px;margin:0 auto;text-align:center;line-height:40px;font-size:14px;}
.h5_agreement{height:40px;width:90%;margin:0 auto;margin-top:10px;}
.h5_agreement a{color:#f74a3d;font-size:14px;}
.qrcode_border{text-align:center;padding:30px 0;background:#43495d;}
.qrcode_border img{ margin:0 20px;width:85px;}
.marginTop30{margin-top:30px;}
.press option{
	color:#777;
	background:#fff;
}
select::-ms-expand { display: none; }
.ico_img{
	width: 20px;
	height:30px;
	position:absolute;
	top:5px;
	left:5px;
	background: url(../../../../file/tf/tenNegative/img/fin_sprite.png) no-repeat 0 -68px;
	background-size: 136px auto;
}
.ico_stage_img {
	background: url(../../../../file/tf/tenNegative/img/fin_sprite.png) no-repeat 0 -102px;
	background-size: 136px auto;
}
.ico_ind_img {
	background: url(../../../../file/tf/tenNegative/img/fin_sprite.png) no-repeat 0 -138px;
	background-size: 136px auto;
}
.ico_name_img {
	background: url(../../../../file/tf/tenNegative/img/fin_sprite.png) no-repeat 0 -172px;
	background-size: 136px auto;
}
.ico_tel_img {
	background: url(../../../../file/tf/tenNegative/img/fin_sprite.png) no-repeat 0 -207px;
	background-size: 136px auto;
}
.ico_yzm_img {
	background: url(../../../../file/tf/tenNegative/img/fin_sprite.png) no-repeat 0 -243px;
	background-size: 136px auto;
}
.xia_img{
	height:30px;
	position:absolute;
	top:5px;
	right:5px;
}
.getCode_btn{width:59px;height:40px;background:#e98611;cursor:pointer; float:right;-webkit-border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0;}
.getCode_btn span{color:#ffffff;font-size:14px;}
.error_tips{color:#f74a3d;display:block;width: 100%;float: left;height: 30px;line-height: 30px;display:none;font-size:14px;}
.show_mask{position:absolute; top:0; left:0;width:100%;height:100%;z-index:9;display:none;background:#ffffff;}
.pop_btn{width:512px;height:60px;background:url("../../../file/promotion/mo/images/pop_btn.jpg"); display:inline-block;position:absolute; bottom:35px; left:117px;cursor:pointer;}
.pop_txt{color:#f74a3d;font-size:24px;display:inline-block;width:100%;text-align:center; padding:50px 0 0 0;}
#MENU_INFO , #REG_H5{
	background:url("../../../../file/tf/tenNegative/img/reg_bg.jpg") no-repeat center center;
	background-size:100% 100%;
}
.form_main{
	width:253px;
	height:254px;
	background:rgba(255,255,255,0.7);
	border-radius:5px;
	padding:10px;
	text-align: left;
	position:absolute;
	top:40px;
	right:0;
	bottom:-49px;
	left:0;
	margin:auto;
}
.form_main li{
	clear:both;
}
.form_main_end{
    position: initial;
    margin-top: 20px;
}
.top_btn{height:59px;background:url("../../../file/promotion/mo/images/top_btn.jpg") no-repeat center center #2e3445;width:100%;display:block;background-size:150px;}
/* reg page end */
/* welcome page */
#mainWrap{
	background: url("../../../../file/tf/tenNegative/img/main_wrap_bg.jpg");
	background-size: 100% 100%;
}
#mainWrap div{
	position: fixed;
}
.enter_start{
	width: 249px;
    height: 65px;
	bottom: 15%;
	font-size: 21px;
	background: url("../../../../file/tf/tenNegative/img/enter_start.png");
	background-size: cover;
	left: 50%;
	margin-left: -125px;
}
.enter_btn{
	display: block;
	width: 249px;
    height: 65px;
    text-indent: -9999px;
}
.enter_start a{
	color: #2f0101;
}
.agreement{
	width: 100%;
	bottom: 12%;
	font-size: 12px;
}
.agreement a{
	color: #fff;
}
.start_btn{
	background:#e7bb22;
	width:232px;
	height:40px;
    line-height:40px;
	border-radius:5px;
	-o-border-radius:5px;
    -ms-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    color:#fff;
    font-size:18px;
    margin:0 auto;
    position:fixed;
    bottom:21%;
    left:0;
    right:0;
    display:none;
}
.goon_btn{
	width:104px;
	height:34px;
	line-height:34px;
	font-size:18px;
	text-align:center;
	position:absolute;
	bottom:35%;
	left:0;
	right:0;
	margin:auto;
	background:#3a088b;
	color:#fff;
	display:block;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	z-index:100;
}
.title_index_img{position:relative;top:3%;left:0;z-index:1;width:80%;display: block;margin: 0 auto;}
.title_img{position:relative;top:12%;z-index: 1;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;width:80%;display: block;margin: 0 auto;}
.animate_running{
	animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    -webkit-animation-play-state:running;
    -moz-animation-play-state:running;
    -ms-animation-play-state:running;
    -o-animation-play-state:running;
    animation-play-state:running;
    }

.share_content{display:none;width:377px;height:500px;background:url('../../../../file/tf/tenNegative/img/share_bg.png') no-repeat center center;background-size:contain;text-align:center;color:#dd4b4b;    position: relative;margin: 0 auto;left: 50%;margin-left: -188px;top: 50%; margin-top: -250px;}
.share_content dl{position: absolute;width: 100%;top:280px;left:0;}
.share_content dl dt{font-size:30px;}
.default_btn{width:120px;height:35px;text-align:center;line-height:35px;color:#ffffff;display:inline-block;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;background:#fc5454;-moz-box-shadow:#592727 0 2px 5px;-webkit-box-shadow:#592727 0 2px 5px;box-shadow:#592727 0 2px 5px;position: absolute; top:435px;left: 50%;margin-left: -130px;}
.default_btn_2{background:#faab00;margin-left:10px;}
.share_content dl dd{line-height:24px;font-size:12px;}

#share_mask{width:100%;height:100%;background:url('../../../../file/tf/tenNegative/img/mask.png') repeat;position:fixed;bottom:0;left:0;z-index:999;display:none;}
#share_mask img{position:absolute;top:0;right:0;}
.loading_text{position:absolute;top:50%;left:50%; margin-top:20px;margin-left:-50px;}
.view header .backButton.back_btn{
	width:30px;
	height:30px;
	background: url(../../../../file/tf/tenNegative/img/fin_sprite.png) no-repeat 0 0;
	background-size: 136px auto;
	display:inline-block;
	position: absolute;
	top:10px;
	left:10px;
	z-index:9999;
}
.backButton::before{
	font-size:0;
}
/* share结果页  */
.result_list_div{position: relative;}
.result_list_div img{display:block;}
.result_score_main{
    width: 100%;
    height: 100%;
    background: url(../../../../file/tf/tenNegative/img/success_avatar.png) no-repeat;
    position: absolute;
    top: 43%;
    left: 50%;
    margin-left: -50%;
    margin-top: -198px;
    background-size: 100% 100%;
    text-align: center;
    display: none;}
.result_score_main.fail{background: url(../../../../file/tf/tenNegative/img/fail_avatar.png) no-repeat;background-size:cover;}
.result_score_main dt{
	color: #ff5501;
    font-size: 62px;
    line-height: 70px;
    font-weight: bold;
    padding: 44% 0 0 0;}
.result_score_main.fail dt{color:#333333;}
.result_score_main dd{
	color: #ff5501;
    font-size: 16px;
    line-height: 22px;}
#myChart{position: absolute;top: 55%;left: 51%;margin-left: -150px; margin-top: -140px;}
.five_ul_con{
	width: 75%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,70%);
    -moz-transform: translate(-50%,70%);
    -ms-transform: translate(-50%,70%);
    -o-transform: translate(-50%,70%);
    transform: translate(-50%,70%);
    font-size: 16px;
    color: #402300;
    text-align: justify;
}
.five_ul li{text-align:left;color:#333;line-height:24px;padding:0 2%;margin-top:5px;}
.media_btn{
	width:30px;
	height:30px;
	background: url(../../../../file/tf/tenNegative/img/fin_sprite.png) 0 -33px no-repeat;
	background-size: 136px auto;
	position:absolute;
	right:10px;
	top:10px;
	z-index:9999;
	display:block;
}
.qa_btn{
	background: url(../../../../file/tf/tenNegative/img/qa_btn.png) no-repeat;
	background-size:cover;
}
.back_btn{
	background:url(../../../../file/tf/tenNegative/img/back_btn.png) no-repeat;
	background-size:cover;
}
.media_btn.btnRotate{-webkit-animation: btnRotate 2s linear infinite;-moz-animation: btnRotate 2s linear infinite;animation: btnRotate 2s linear infinite;}
@-webkit-keyframes btnRotate {
0% {
    -webkit-transform: rotateZ(0deg);
    }
100% {
    -webkit-transform: rotateZ(360deg);
    }
}
@-moz-keyframes btnRotate {
0% {
    -moz-transform: rotateZ(0deg);
    }
100% {
    -moz-transform: rotateZ(360deg);
    }
}
@keyframes btnRotate {
0% {
    transform: rotateZ(0deg);
    }
100% {
    transform: rotateZ(360deg);
    }
}

.reg_btn{
	width:96%;
	height:40px;
	font-size:16px;
	line-height:40px;
	text-align:center;
	background:#e7bb22;margin: 0 auto;margin-top: 10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	color:#fff;
	display:block;
}
#main{background: url(../../../../file/tf/tenNegative/img/main_bg.jpg) no-repeat center;background-size: 100% 100%;}
.fiveWelcome.panel{background-size:cover;background-repeat:no-repeat;}
.animate_el{display:none;position:absolute;top:0;left:0;background-size:cover;width:100%;height:100%;background-repeat:no-repeat;background-position: center;}
.main_el_1{background-image: url(../../../../file/tf/tenNegative/img/main_el_1.png);background-size: 100% 100%;}
.main_el_2{background-image: url(../../../../file/tf/tenNegative/img/main_el_2.png);background-size: 100% 100%;}
.main_el_3{background-image: url(../../../../file/tf/tenNegative/img/main_el_3.png);background-size: 100% 100%;}
.main_el_4{background-image: url(../../../../file/tf/tenNegative/img/main_el_4.png);background-size: 100% 100%;}
.left_el{z-index:99;}
.right_el{}
.top_el{z-index:999;}
.bottom_el{-webkit-transform: scaleX(0);-moz-transform: scaleX(0); transform: scaleX(0);}
.arrow_bottom{
	position:fixed;bottom:0;left:50%;width:60px;height:60px;background:url(../../../../file/tf/tenNegative/img/arrow_bottom.png);background-size:cover;margin-left:-30px;
	-webkit-animation-iteration-count:infinite;-webkit-animation-duration:3s;
	-moz-animation-iteration-count:infinite;-moz-animation-duration:3s;
	animation-iteration-count:infinite;animation-duration:3s;
    z-index: 999;
    display:none;
}
.more_project_btn{
	display: block;
    margin: 10px 0;
    color: #f74a3d;
    text-align: center;
}
/* #TF_INDEX_10 .qa_title,#TF_INDEX_11 .qa_title,#TF_INDEX_12 .qa_title{
	font-size: 16px;
    line-height: 24px;
    padding: 8% 12% 20px 18px;
    text-align:left;
}
#TF_INDEX_10 .qa_li,#TF_INDEX_11 .qa_li,#TF_INDEX_12 .qa_li{
	padding-left: 40px;
	line-height: 20px;
	text-align: left;
	height:auto;
	min-height:28px;
	padding-top:4px;
	margin-top:10px;
}
#TF_INDEX_10 .qa_li,#TF_INDEX_11 .qa_li,#TF_INDEX_12 .qa_li{
	font-size: 15px;
} */
.innerWelcome{
	background:url('../../../../file/tf/tenNegative/img/t_c_bg.jpg') center no-repeat;
	background-size:100% 100%;
}
.rightBottom{
	position:absolute;
	bottom:5px;
	right:3px;
	color:#009ae3;
}
#FEND_0{
	background:#fff;
}
.copyright {
	font-size: 10px;
}
input::-webkit-input-placeholder {
	color: #fff; /* WebKit browsers */
}
input:-moz-placeholder {
	color: #fff; /* Mozilla Firefox 4 to 18 */
}
input::-moz-placeholder {
	color: #fff; /* Mozilla Firefox 19+ */
}
input:-ms-input-placeholder {
	color: #fff; /* Internet Explorer 10+ */
}
.detail-list{
    width: 80%;
    margin: 0 auto;
}
/* 信息完善部分~css */
.complete_body{
	background-color: #456be6;
}
.home_page{
	background:url("../../../../file/tf/tenNegative/img/reg_bg.jpg") no-repeat center center;
	background-size:100% 100%;
}
.tip_info{
	color: #e7bb22;
	font-size: 10px;
	line-height: 0px;
}
.complete_form{
	top: 66px;
    bottom: auto;
    height: auto;
    width: 92%;
    position: initial;
}
.save_next{
	width: 60%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    background: #e7bb22;
    margin: 20px auto 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.save_next a{
	color: #fff;
    font-weight: bold;
}
.home_page_info label{
	color: #542200;
	font-size: 13px;
	line-height: 27px;
	display: block;
}
.home_page_info textarea,.home_page_info input,.home_page_info select{
    width: 100%;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    background: #5972e8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 7px;
    caret-color: hsla(228, 4%, 24%, 0.8);
}
.home_page_info input{
    height: 40px;
    margin: 0 auto 7px;
    clear: both;
    color: #fff;
}
.home_page_info select{
	height: 40px;
    line-height: 40px;
    padding: 0 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}
.home_page_info textarea{
	resize: none;
	min-height: 80px;
	padding-bottom: 0px;
	margin-bottom: 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.addr{
	position: relative;
}
.mt19{
	margin-top: 19px;
}
.pb30{
	padding-bottom: 30px;
}
.addr_abs{
	width: 22px;
    position: absolute;
    right: 10px;
    bottom: 9px;
}
.compNameL{
	color: #fff;
	font-size: 12px;
    background: #5972e8;
    position: absolute;
    bottom: -10px;
    width: 100%;
    left: 0px;
    text-align: right;
    margin: 0;
    padding-right: 10px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.compNameL strong{
	font-weight: normal;
}
.upload{
    width: 185px;
    padding: 28.5px 0;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    background: #5972e8;
}
.upload img{
	width: 63px;
    border: none;
    vertical-align: middle;
}
.alt_pic {
    position: absolute;
    bottom: -8px;
    left: 151px;
    display: none;
    z-index: 1;
}
.alt_pic img{
	width: 34px;
	height: 32px;
}
.show_item{
    position: absolute;
    bottom: 0px;
    left: 0;
    border-radius: 5px;
    display: none;
}
.item, .item .real_pic {
    width: 185px;
    height: 104px;
    border-radius: 2px;
}
#creatorPic,#teamPic{
    width: 185px;
    height: 106px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
}
@media screen and (max-height: 560px){
	.tip_info{
		margin: 0;
		padding: 0;
		line-height: 20px;
	}
	.home_page_info textarea{
		min-height: 63px;
	}
	.save_next{
		margin-top: 8px;
	}
	.home_page_info label{
	    line-height: 18px;
	}
	.home_page_info textarea, .home_page_info input, .home_page_info select{
		margin: 0;
	}
	.addr_abs{
		bottom: 3px;
	}
}
@media screen and (max-width: 320px){
	.result_score_main dt{
		padding-top: 42%; 
	}
	.result_score_main dd{
		line-height: 18px;
	}
}
/* 测评等级~ A B C D */
#share_main{
	background:#ffe400;
}
.share_score_main{
	height: 97%;
}
.final-loader{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
.loading-num{
	width: 100%;
	font-size: 38px;
	position: absolute;
    top: 30%;
    font-size: 30px;
    z-index: 2;
}
.final_ranking{
    position: initial;
}
.final_ranking dl{
    background: url(../../../../file/tf/tenNegative/img/final_rank.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: 30%;
}
.final_ranking h1{
	color: #ff5501;
	font-size: 15px;
	padding: 0 0 0 18px;
    position: absolute;
    top: 20px;
}
.final_ranking dt{
	font-size: 100px;
	padding: 32% 0 0 0;
}
.final_result{
    position: absolute;
    bottom: 23%;
}
.final_result ul{
	background: #fff;
    width: 80%;
    color: #402300;
    margin: 0 auto;
    padding: 35px 20px;
    border: 2px solid #fdd75b;
}
.enter_info{
	padding: 30px 0 60px;
	background: #ffe400;
	position: relative;
	z-index: 99;
}
.look_other_item{
    background: #ffe400;
}