   	
   	        html,body{
            min-width: 320px;
            max-width: 640px;
            margin: 0 auto;
            height: 100%;
        }
        html{
            position: relative;
        }
        .clearfix:after{
            display: block;
            width: 0;
            height:0;
            content: "";
            clear: both;
        }
        body{
            box-sizing: border-box;
        }

        .user-img-show .item{

            padding: 5px;
            overflow: hidden;

        }
        .user-img-show img{
            width: 100%;
            height: 100%;
        }
        .sub-apply{
            width: 200px;
            height: 52px;
            display: block;
            border: none;
            background: url("../images/information-btn_03.png") no-repeat left 0 top 0;
            background-size: 100% 100%;
            /*margin: 27px auto 0;*/
            position: absolute;
            left: 50%;
            margin-left: -100px;
            bottom: 10%;
            animation:helpAnimate 0.5s infinite;
            -webkit-animation:helpAnimate 0.5s infinite;
/*            position: absolute;
            left: 50%;
            margin-left: -100px;
            bottom: 40px;*/
        }
        .success-box{

           /* background-size: 768px 1333px;*/
            min-width: 320px;
            max-width: 640px;
            margin: 0 auto;
            height: 100%;
            padding:0 25px;
            box-sizing: border-box;
        }
        .success-box:before{
            content:" ";
            position:absolute;
            left:0;
            right:0;
            top:0;
            bottom:0;
            background: url("../images/success-bg.png") no-repeat left 50% top 0;
            background-size: 100% 100%;
            /* 颜色自定义 */
            z-index:-100;/* 突然想到个游戏，是男人就下100层。。。 */
        }
        .success-box img{
            width: 80%;
            position: absolute;
            left: 50%;
            top:34px;
            margin-left: -40%;
        }

        @keyframes helpAnimate
        {
            0% {
                transform:rotate(2deg);
                -ms-transform:rotate(2deg); 	/* IE 9 */
                -moz-transform:rotate(2deg); 	/* Firefox */
                -webkit-transform:rotate(2deg); /* Safari 和 Chrome */
                -o-transform:rotate(2deg);
            }
            50%  {
                transform:rotate(-2deg);
                -ms-transform:rotate(-2deg); 	/* IE 9 */
                -moz-transform:rotate(-2deg); 	/* Firefox */
                -webkit-transform:rotate(-2deg); /* Safari 和 Chrome */
                -o-transform:rotate(-2deg);
            }
            100%{
                transform:rotate(2deg);
                -ms-transform:rotate(2deg); 	/* IE 9 */
                -moz-transform:rotate(2deg); 	/* Firefox */
                -webkit-transform:rotate(2deg); /* Safari 和 Chrome */
                -o-transform:rotate(2deg);
            }
        }

        @-webkit-keyframes helpAnimate /* Safari and Chrome */
        {
            0% {
                transform:rotate(2deg);
                -ms-transform:rotate(2deg); 	/* IE 9 */
                -moz-transform:rotate(2deg); 	/* Firefox */
                -webkit-transform:rotate(2deg); /* Safari 和 Chrome */
                -o-transform:rotate(2deg);
            }
            50%{
                transform:rotate(-2deg);
                -ms-transform:rotate(-2deg); 	/* IE 9 */
                -moz-transform:rotate(-2deg); 	/* Firefox */
                -webkit-transform:rotate(-2deg); /* Safari 和 Chrome */
                -o-transform:rotate(-2deg);
            }
            100%{
                transform:rotate(2deg);
                -ms-transform:rotate(2deg); 	/* IE 9 */
                -moz-transform:rotate(2deg); 	/* Firefox */
                -webkit-transform:rotate(2deg); /* Safari 和 Chrome */
                -o-transform:rotate(2deg);
            }
        }
        @media (max-width: 332px) {
            .success-box>img{
                width: 100%;
                margin-left: -50%;
            }
        }
   	#share_mask{
   		width:100%;
   		height:100%;
   		background:url('../images/mask.png') repeat;
   		position:absolute;
   		top:0;
   		left:0;
   		z-index:999;
   		display:none;
   	}
	#share_mask img{
		position:absolute;
		top:0;
		right:0;
	}
	.down_app_btn{
		position:absolute;
		width:80px;
		top:50%;
		right:0;
		margin-top:-50px;
	}
	.down_app_btn img{
		width:100%;
	}