/*
 * 融测测里面的协议 
 * */
 pre{
    padding: 0 12px 12px;
    line-height: 23px;
    white-space: pre-wrap;
    text-align: justify;
    font-size:14px;
    color:#333;
}
strong{
	font-size:16px;
}
.title{
	font-size:18px;
}
.article-content{
	margin-top:30px;
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 